/* From AY */
.heading {
  color: red;
  border: 1px solid black;
}

.square-img {
  width: 100px;
  height: 100px;
}

ul {
  color: blue;
  /* bold and italic */
  font-weight: bold;
  font-style: italic;
}
